<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Taikun.Demo.WPF.Properties.Settings.TaikunDatabase"
            connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=Taikun;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>